{
    "command": "/usr/bin/ceph-mgr -f -i {{ storage_address }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "ceph",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ceph.mgr.{{ storage_address }}.keyring",
            "dest": "/var/lib/ceph/mgr/ceph-{{ storage_address }}/keyring",
            "owner": "ceph",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ceph.client.admin.keyring",
            "dest": "/etc/ceph/ceph.client.admin.keyring",
            "owner": "ceph",
            "perm": "0600"
        }
    ]
}