{
    "command": "/usr/bin/ceph-mds -f -c /etc/ceph/ceph.conf -i {{ storage_address }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "ceph",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ceph.mds.{{ storage_address }}.keyring",
            "dest": "/var/lib/ceph/mds/ceph-{{ storage_address }}/keyring",
            "owner": "ceph",
            "perm": "0644"
        }
    ]
}
