{
    "CN": "system:kube-controller-manager",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "hosts": [
{% for host in groups['master'] %}
      "{{ host }}",
{% endfor %}
      "127.0.0.1"
    ],
    "names": [
      {
        "C": "CN",
        "ST": "GUANGDONG",
        "L": "GUANGZHOU",
        "O": "system:kube-controller-manager",
        "OU": "system"
      }
    ]
}
