{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "registry-mirrors": [
    "https://docker.mirrors.ustc.edu.cn",
    "http://hub-mirror.c.163.com"
  ], 
  "insecure-registries": [
    "0.0.0.0/0", 
    "::/0"
  ],
  "storage-driver": "overlay2"
}
